@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    font-family: "Roboto", sans-serif;
    font-size: 0.85em;
}

body {
    background: #0f0f0f;
}


.bar {
    background: #0c8c05;
    color: white;

    width: 20em;
    height: 2em;
    margin: .5em;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    border: 1px solid;
}

.bar label {
    z-index: 10;
}

.bar .bar-inner {
    z-index: 5;

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #e92626;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    transition: width 0.2s;
}

.bar,
.bar-inner {
    border-radius: 4px;
}